// Mixins Here
.button (@backgroundColor, @borderRadius) {
  max-width: max-content;
  font-size: 2rem;
  font-weight: bold;
  background-color: @backgroundColor;
  border-radius: 5px;
  padding: .9rem 1.8rem;

}